# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\3.VEC\0.Work\3.Smart_Strawbrry\Web_make\Back\Node.Js_project\3.Crwolling\Naver_webtoon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
